@charset "UTF-8";

*{}

body {

}

main {
    width: 800px;
    margin: auto;
}

main > h2 {
    padding: 30px;
}

header{
    background-image: linear-gradient(to top, white, blue);
    color: black;
}

header > h1,h2 {
    text-align: center;
}

p.card-text {
    text-align: center;
    padding-bottom: 0%;
}

button.btn btn-primary {
    text-align: center;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.botao {
    text-align: center;
}

section {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
   
}