@charset "UTF-8";

*{}

header{
    background-color: rgb(174, 174, 255);
}

header > h1,h2 {
    text-align: center;
}

p.card-text {
    text-align: center;
    padding-bottom: 0%;
}

button.btn-primary {
    text-align: center;
}