@charset "UTF-8";

body {
    background-color: greenyellow;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: peachpuff;
}

.box3{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
}

